Python/Ordinary/gui.log
Python/Ordinary/gui.bak.log
Python/Special/gui.log
Python/Special/gui.bak.log
Python/Initialization/interpreter.json
Python/Ordinary/MAA
Python/Special/MAA1
Python/Special/MAA2