Python/Ordinary/MAA/debug/*.log
Python/Special/MAA1/debug/*.log
Python/Special/MAA2/debug/*.log
Python/Ordinary/GuiLog.log
Python/Ordinary/GuiLog.bak.log
Python/Special/GuiLog.log
Python/Special/GuiLog.bak.log